extends layout

block content
  h1 Welcome to AltStu Open API
  h2 Endpoints
  ul
    li 
      h2 POST
      h2 /auth
      h3 Params
      h4 login - string
      h4 password - string
      h3 Returns
      h4 session - string
    li
      h2 POST
      h2 /schedule
      h3 Params
      h4 session - string
      h3 Returns
      h4 schedules - Array
    li
      h2 POST
      h2 /messages/unread
      h3 Params
      h4 session - string
      h3 Returns
      h4 messages - Array
    li
      h2 POST
      h2 /messages/archive
      h3 Params
      h4 session - string
      h3 Returns
      h4 messages - Array
    li
      h2 POST
      h2 /files
      h3 Params
      h4 session - string
      h3 Returns
      h4 files - Array    

